<link rel="stylesheet" type="text/css" href="../static/style.css">

<table>
	<tr><td align="center">
		<div id="main">
			<p><img src='../static/tef_thumb2.jpg'/></p>
			<h2></h2>
				<img height="350" src="../static/alyssaclaire.jpg">
			<div id="content_text">
				
			
	<p>
	Alyssa and Claire are 5th graders from Chester, New Jersey.  The girls participated in a program called TREP$ where they learned about becoming entrepreneurs.  Their business was called Bragg Board Designs where they created unique white and black dry erase boards, bulletin boards and beautiful flower markers.  They sold their products to fellow students and to the public.  Alyssa and Claire decided to donate the majority of their profit to The EVAN Foundation in a check for $150.00!  Alyssa has a friend who is currently being treated for neuroblastoma, so they had a direct connection to The EVAN Foundation's mission.  Thank you, Alyssa and Claire, for turning your business talents into a way to support research for kids battling neuroblastoma.</p>
	</div>
	</div>
	</td></tr></table>