<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<META NAME="Description" CONTENT="The EVAN Foundation, Evan's Victory Against Neuroblastoma">
<META NAME="Keywords" CONTENT="neuroblastoma, pediatric cancer, cancer, childhood cancer, evan lindberg, gavin lindberg, wendy lindberg, band of parents, cookies for kids cancer, evan foundation, caring bridge">
<link rel="stylesheet" type="text/css" href="../static/style.css">
<link rel="icon" type="image/gif" href="../static/favicon.gif" />
<title>The EVAN Foundation</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24856734-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

	
  function showPrivacyPolicy(){
	window.open('/main/privacypolicy.html','window','width=500,height=800');
}

  function showKristen(){
		window.open('/main/kristen.html','window','width=940,height=940');
}

  function showHannah(){
	window.open('/main/hannah.html','window','width=940,height=900');
}

function showJulianna(){
	window.open('/main/julianna.html','window','width=940,height=900');
}

function showCale(){
	window.open('/main/cale.html','window','width=940,height=900');
}

function showCarly(){
	window.open('/main/carly.html','window','width=940,height=900');
}

function showGirlScout(){
	window.open('/main/girlscout.html','window','width=940,height=900');
}

function showDaisy(){
	window.open('/main/daisy.html','window','width=940,height=900');
}



</script>
</head>
<body>
	<div id='main'>	
		<table width='900px' border='0' cellspacing='0' cellpadding='0'>
			<tr valign='top'>
				<td width='300px'>
					<div id='leftbar'>
						<div id="logo"><a href='/main/home'><img src='../static/logo.jpg'></a></div>
						<div id="navigation">
	    					<ul class="top-level">
	        					<li><a href="/main/home">Home</a></li>
	        					<li><a href="/main/mission">Mission</a></li>
	        					<li><a href="/main/evan">Evan's Story</a></li>
	        					<li><a href="/main/neuroblastoma">About Neuroblastoma</a></li>
	        					<li><a href="/main/donate">Donate</a></li>
	        					<li><a href="/main/events">News and Events</a></li>
	        					<li><a href="/main/help">How Can I Help?</a></li>
								<li><a href="/main/friend">Become a Friend</a></li>
								<li><a href="/main/treats">Treats and Treasures</a></li>
								<li><a href="/main/leadership">Leadership</a></li>
								<li><a href="/main/research">Research</a></li>
							</ul>
						</div>

						<br/>
						<div id='ldrital'>The EVAN Foundation is grateful for the support of the following partners</div>
						<div id='ldrdiv'>
							<div id='ldrtitle'><a href="https://www.asdhealthcare.com/" target='_new'><img src='../static/asd.png'></img></a></div>
						</div>
						<div id='ldrdiv'>
							<div id='ldrtitle'><a href="http://mssa.net/" target='_new'><img src='../static/mssa.png'></img></a></div>
						</div>
						<div id='ldrdiv'>
							<div id='ldrtitle'><a href="http://www.assurant.com/" target='_new'><img src='../static/assurant.png' width="250"></img></a></div>
						</div>
					</div>
					<br>
					<br>
					<br>
					
				</td>
				<td width='600px'>	
					{% block content %}
					{% endblock %}	
					<br><br>
					<br><br>
					<br><br>
					<br><br>
					<br><br>
					<br>
				</td>
			</tr>
		</table>
		<div id='footer'>
			Copyright © 2011 The EVAN Foundation • <a href='#' style="color:white;" onclick="javascript:showPrivacyPolicy()">Privacy Policy</a>
		</div>
	</div>
	
</body>
</html>
