<link rel="stylesheet" type="text/css" href="../static/style.css">

<table>
	<tr><td align="center">
		<div id="main">
			<p><img src='../static/tef_thumb2.jpg'/></p>
			<h2></h2>
				<img height="350" src="../static/Cale.jpg">
			<div id="content_text">
			
				
			
	<p>
		Cale Mitchell, a 5th grader at State Road Elementary School in Fenton, MI had a big project to do at school.  He had to choose a topic that interested him, do research and create a plan of action to educate people about his topic.  Cale chose to research and talk about neuroblastoma and The EVAN Foundation.  In addition, he organized a walk that was held at the school and included every student.

		On Cale’s chosen day, each grade came out to the soccer field, walked, listened to him discuss Evan and The EVAN Foundation, and then each child gave a quarter to donate to the Foundation.  At the conclusion of his presentation to the 5th graders, Cale released yellow and blue balloons in Evan’s memory.  At the end of the 10 week project, he gave a PowerPoint presentation to the parents of all of the 5th graders.  Now, every kid at State Road Elementary School knows about the Foundation and the need for funding.  Cale raised awareness AND $120.00 for The EVAN Foundation!  Thank you, Cale!
	</p>
	</div>
	</div>
	</td></tr></table>