<link rel="stylesheet" type="text/css" href="../static/style.css">

<table>
	<tr><td align="center">
		<div id="main">
			<p><img src='../static/tef_thumb2.jpg'/></p>
			<h2></h2>
				<img height="350" src="../static/Burton.jpg">
			<div id="content_text">
			
				
			
	<p>
		Carly, Anna and Jessie were hanging out one Saturday and came up with a great way to spend the day.  They put on their EVANfest t-shirts, baked some brownies and held a bake sale with proceeds going to The EVAN Foundation!  The enterprising girls set up “shop” in the neighborhood and had so much success selling the brownies that they expanded their product line to include cookies and lemonade! 

		 Thank you so much, Carly, Anna and Jessie!  We really appreciate your thoughtfulness and initiative!
	</p>
	</div>
	</div>
	</td></tr></table>