<link rel="stylesheet" type="text/css" href="../static/style.css">

<table>
	<tr><td align="center">
		<div id="main">
			<p><img src='../static/tef_thumb2.jpg'/></p>
			<h2></h2>
				<img height="350" src="../static/Daisy.jpg">
			<div id="content_text">
			
				
			
	<p>
		The EVAN Foundation would like to thank Daisy Troop 2337 from Spark Matsunaga Elementary School in Germantown, MD for their generous donation of Girl Scout Cookies and a variety of toys for our Treats and Treasures Carts at Children’s National Medical Center in Washington, DC.  The kids enjoyed taking their pick of a toy and a box of cookies.  Thank you, Daisies!
		
	</p>
	</div>
	</div>
	</td></tr></table>