{% extends "base.html" %}
{% block content %}
<div id='ldrtitle3'>
	EVANFest 2011	
</div>
<br/><br/>
<div id='divContainer'>
	<div id='divLeft'>
		<img src='../static/Evanfest014.jpg'></img>
	</div>
</div>
<div id='divContainer'>
	<div id='divLeft'>
		<img src='../static/Evanfest157.jpg'></img>
	</div>
	<div id='divRight'>
		<div id='content_text'><a href='http://davewheeler.smugmug.com/Events/EVANfest-2011/19083547_WzSs2F#1484879660_HwrMS68' target='_blank'>Click here to see all pictures</a>
		</div>
	</div>
</div>
<div id='divContainer'>
	<div id='divLeft'>
		<img src='../static/Evanfest100.jpg'></img>
	</div>
	<div id='divRight'>
		<img src='../static/Evanfest080.jpg'></img>
	</div>
</div>
{% endblock %}