{% extends "base.html" %}
{% block content %}
<table border='0' cellspacing='0' cellpadding='0'>
	<tr valign='top'>
		<td>
			<div><img src='../static/evan3.jpg'></div>
		</td>
	</tr>
	<tr valign='top'>
		<td>
			<div id='ldrtitle2'>
				EVANFest A BIG SUCCESS!		
			</div>
			<div id='ldrital'>
				A Great Start To A Great Cause
			</div>
			<div id='content_text'>
				<p>On September 17th, The Evan's Victory Against Neuroblastoma Foundation hosted its kick-off event - EVANfest - in 			 Gaithersburg, MD.  More than 300 people braved the chilly, rainy weather to remember Evan and support the Foundation!   Kids and adults enjoyed an afternoon of games, races, moon bounces, face painting, hair design, live entertainment, food and a popular raffle for an IPad2.</p>  

				<p>In a remarkable show of support, over $12,000 was raised for our fight against neuroblastoma!  We are truly humbled by the success of this first event.  100% of the funds will go to neuroblastoma research and patient wellness programs aimed at young children currently in treatment.</p>

				<p>We want to thank all of the wonderful volunteers who donated their time, expertise and enthusiasm to the event. We 		are particularly indebted to Epworth Methodist Church for hosting us.</p>
				<p>To see pictures from EVANFest 2011 <a 	href='http://davewheeler.smugmug.com/Events/EVANfest-2011/19083547_WzSs2F#1484879660_HwrMS68' target='_blank'>click here.</a></p>
					
				<p>If you are interested in purchasing an EVAN Foundation t-shirt or wrist band sold at EVANFest, please contact Wendy Lindberg at wendy@theevanfoundation.org</p>
				
				<p>We look forward to sharing news about upcoming Foundation activities soon. </p>
				<p><h3>Remember... You + E.V.A.N. = CURE</h3></p>
				<p>
					THANK YOU!
				</p>
				<table width='100%'>
				<tr><td align='center'>Gavin Lindberg</td><td></td><td align='center'>Wendy Lindberg</td></tr>
				<tr><td align='center'>	<div id='ldrital'>President</div></td><td></td><td align='center'><div id='ldrital'>Secretary</div></td></tr>
				<tr><td align='center'>The EVAN Foundation</td><td></td><td align='center'>The EVAN Foundation</td></tr>
				<tr><td></td><td><img src='../static/tef_thumb2.jpg'/></td><td></td></tr>
				</table>
			</div>
		</td>
	</tr>
</table>
{% endblock %}