{% extends "base.html" %}
{% block content %}
<div id='ldrtitle3'>
	EVANFest 2011		
</div>
<br/><br/>
<div id='divContainer'>
	<div id='divCenter'>
		<img src='../static/Evanfest039.jpg'></img>
	</div>
</div>
<div id='divContainer'>
	<div id='divCenter'>
		<img src='../static/Evanfest138.jpg'></img>
	</div>
</div>
<div id='divContainer'>
	<div id='divLeft'>
		<img src='../static/Evanfest061.jpg'></img>
	</div>
	<div id='divRight'>
	<div id='content_text'><p><a href='/main/more'>Click here to see more pictures</a></p></div>
	</div>
</div>
{% endblock %}