{% extends "base.html" %}
{% block content %}
<table border='0' cellspacing='0' cellpadding='0'>
	
	<tr valign='top'>
		<td>
				<div id='ldrital'>
					<h2>3RD ANNUAL MSSA ANNAPOLIS CHAPTER EVAN FOUNDATION SPRING TOURNAMENT RAISES RECORD AMOUNT!</h2>
				</div>
				<img src='../static/fish2014.jpg' height="400px">
			<div id='ldrdiv'>
			<div id='content_text'>
				

				<p>The Annapolis Chapter of the Maryland Saltwater Sportfishermen's Association held its awards cookout for the 2014 EVAN Foundation Rockfish Tournament on May 10th.  A great time was had by all at Chesapeake Harbour Marina in Annapolis as the tournament raised over $8000 for the Foundation!</p>

				<p>The co-founders of the EVAN Foundation, Wendy and Gavin Lindberg, were on hand to thank everyone for their generous support.  They emphasized how important the tournament is to the ongoing mission of the organization and how grateful they are to the Annapolis Chapter for keeping Evan's spirit alive.</p>

				<p>Congratulations to George Brown for the largest fish of the tournament—a beautiful 46 ½ inch rockfish. The fish entered by the Zagalsky family—headed by Jason Zagalsky—was second place at 46 inches. Brian Stempowski’s third place trophy rockfish was also 46 inches. Brian and Darren Zagalsky checked in the first and second place fish respectively in the Kids Division. Will Muscatello and Will Hewitt took 3rd and 4th place in the Kids Division. Each received gift certificates to Marty’s and AllTackle, EVAN Foundation candy bars, and other cool stuff.</p>


				<p>The Foundation wishes to thank Dale Dirks for all the hard work he put into organizing the tournament again this year.  Special thanks also to Bob Thompson and George Brown.</p>

<b>A big THANK YOU to all the tournament sponsors:</b>
				<ul>

				<li>Marty’s Sporting Goods</li>

				<li>AllTackle</li>

				<li>BFG Tackle</li>

				<li>Chesapeake Harbour Marina</li>

				<li>The Reel Thing</li>

				<li>Intrinsic Yacht and Ship</li>

				<li>Universal Marine</li>

				<li>Kramon and Graham, PA</li>

				<li>Health and Medicine Counsel</li>

				<li>Minuteman Press</li>

				<li>Annie’s Steak House</li>

				<li>The Jetty</li>

				<li>Big Bats</li></ul>
			</div>
			</div>
		</td>
	</tr>
</table>
{% endblock %}

