{% extends "base.html" %}
{% block content %}
<table border='0' cellspacing='0' cellpadding='0'>
	<tr valign='top'>
		<td>
			<div><img src='../static/evan3.jpg'></div>
		</td>
	</tr>
	<tr valign='top'>
		<td>
				<div id='ldrital'>
					<h2>Second Annual MSSA Annapolis Chapter Fishing Tournament Benefiting The EVAN Foundation </h2>
					<h1>A Huge Success!</h1>
				</div>
			<div id='ldrdiv'>
			<div id='content_text'>
				<p>The Annapolis chapter of the Maryland Saltwater Sportfishing Association held its 2nd Annual Spring Rockfish Tournament benefitting The EVAN Foundation from April 30th through May 5, 2013.   The event raised $6,350 for the Foundation – doubling the success of last year’s inaugural event!</p>
				<img width="580" src="../static/fish2013.jpg"/>

				<p>The Chesapeake Bay was the site of the tournament which attracted 30 boats all striving to catch the largest rockfish.  The Foundation is extremely grateful to tournament organizers Dale Dirks and Bob Thompson, and MSSA Annapolis Chapter President Bob Sheehan and the following sponsors:  ALLTACKLE, Chesapeake Harbour Marina, Intrinsic Yacht and Ship, Health and Medicine Counsel of Washington, Kramon & Graham PA, Marty’s Bait and Tackle Shop, Universal Marine, and Friends of EVAN. The Foundation also thanks all of the anglers who participated in this year’s tournament.</p>

				<p>First place went to Dale Dirks who reeled in a 42.7 inch rockfish.  Chris Rosenthal finished in second place and Chris Hall in third.  The Youth Division winners were Justin Stempowski, Anna Estremsky and R.J. Rider.</p>

				<p>EVAN Foundation co-founders Wendy and Gavin Lindberg spoke at the May 11th tournament-ending celebration at Chesapeake Harbour Marina in Annapolis, MD.  They emphasized how  important the tournament is to the ongoing mission of the Foundation and how grateful they are to the Annapolis Chapter for keeping Evan's spirit alive.</p>

				<p>For more information on the MSSA Annapolis chapter please visit  <a target="_new" href='http://www.mssaannapolis.com'>www.mssaannapolis.com</a>   We hope to see you on the water next year!</p>
			</div>
			</div>
		</td>
	</tr>
</table>
{% endblock %}