<link rel="stylesheet" type="text/css" href="../static/style.css">

<table>
	<tr><td align="center">
		<div id="main">
			<p><img src='../static/tef_thumb2.jpg'/></p>
			<h2></h2>
				<img height="350" src="../static/GirlScout.jpg">
			<div id="content_text">
			
				
			
	<p>
		The EVAN Foundation would like to thank Brownie Troop 4507 of Ashburn, VA and Girl Scout Cadette Troop 2147 of Germantown, MD for their generous donations of a plentiful variety of Girl Scout Cookies that have been distributed via The Treats and Treasures Carts at Children’s National Medical Center in Washington, DC.  The kids who have received them are very appreciative of your efforts!  Thank you!
	</p>
	</div>
	</div>
	</td></tr></table>