{% extends "base.html" %}
{% block content %}
<table border='0' cellspacing='0' cellpadding='0'>
	<div><img src='../static/evan3.jpg'></div>
	<tr valign='top'>
		<td>
				<div id='ldrital'>
					<h2>The EVAN Foundation Second Annual Golf Tournament</h2>
				
				</div>
			<div id='ldrdiv'>
			<div id='content_text'>
				<p>Please join us on Thursday, October 23rd for our Second Annual EVAN Foundation golf Tournament at Whiskey Creek Golf Course in Ijamsville, MD.  The scramble format event will have an 11:00 a.m. shotgun start.  There will be prizes for men’s and women’s closest to the pin and longest drives. Hole-in-one prizes available too!  A raffle and silent auction will take place after golf, during the awards dinner. Registration for single players is $150 and $600 for foursomes.</p> <p>Registration includes golf with cart, range balls, a gift bag, boxed lunch and dinner in a beautiful fall setting.  Hope to see you there!</p>
				<div id='ldrdiv'><div id='ldrtext'><h3><a target='_new' href='http://events.constantcontact.com/register/event?llr=zv8xthmab&oeidk=a07e9h06tk1085aec17'>Register Here</a></h3></div></div>
				
			
			</div>
			</div>
			
			<div id='ldrital'>
				<h2>EVANFest 2014</h2>
			
			</div>
			
			<div id='ldrdiv'>
			<div id='content_text'>
				<p>Saturday, September 27, 2014 is the date for EVANfest 2014!  It is the 4th year of our family fun day where your kids will enjoy the moon bounce, carnival games, live music, and food.  There will also be a raffle for a fabulous prize.  Please join us for a great family experience!  All proceeds go to fund promising neuroblastoma research and to stock the Treats and Treasures Carts at Children’s National Medical Center in Washington, DC.</p>
				
			</div>
			</div>

			
		</td>
	</tr>
</table>

{% endblock %}