{% extends "base.html" %}
{% block content %}
<table border='0' cellspacing='0' cellpadding='0'>
	<tr valign='top'>
		<td>
			<div><img src='../static/evan3.jpg'></div>
		</td>
	</tr>
	<tr valign='top'>
		<td>
				<div id='ldrital'>
					<h2>The First Annual EVAN Foundation Golf Tournament!</h2>
				<div id='ldrtitle2'>
					Please join us for our First Annual EVAN Foundation Golf Tournament
				</div>
				
				</div>
			<div id='ldrdiv'>
			<div id='content_text'>
				<ul>
				<li>When: Thursday, October 24, 2013</li>
				<li>Where: Whiskey Creek Golf Club, Ijamsville, MD</li>
				<li>Time: Registration begins at 9:00 a.m. until 10:45 a.m.</li>
				<li>Tee Time: 11:00 a.m. Shotgun start</li>
				<li>Format: Scramble</li>
				</ul>
			</div>
			</div>
			<div id='ldrtitle2'>
				Lunch, dinner, golf, cart and gift bag for each player!  Awards and Prizes!  A beautiful location!  
				<div id='ldrital'>
					<p>Register your foursome by September 1st and save $100 per foursome!</p>

					Entry fee includes golf, range balls, cart, boxed lunch, dinner and gift bag.
				</div>
				<h4><a target='_new' href='http://events.constantcontact.com/register/event?llr=zv8xthmab&oeidk=a07e75dxh91a5452d34'>Register Here</a></h4>
					
			</div>
			<div id='ldrdiv'>
				<div id='ldrtext'>
					Sponsorship opportunities are available.  Please click on the link to our Sponsorship Form for details.<br/> 
					<h3><a target='_new' href='../static/Sponsorship.flyer.2013.pdf'>Sponsorship Form</a><h3>
					<h3><a target='_new' href='../static/Golf.invitation.2013.trifold.pdf'>Printable Brochure</a><h3>
				</div>
			</div>
		</td>
	</tr>
</table>
{% endblock %}