{% extends "base.html" %}
{% block content %}
<table border='0' cellspacing='0' cellpadding='0'>
	<div><img src='../static/evan3.jpg'></div>
	<tr valign='top'>
		<td>
				<div id='ldrital'>
					<h2>The EVAN Foundation Second Annual Golf Tournament</h2>
				
				</div>
			<div id='ldrdiv'>
			<div id='content_text'>
				<p>Please join us on Thursday, October 23rd for our Second Annual EVAN Foundation golf Tournament at Whiskey Creek Golf Course in Ijamsville, MD.  The scramble format event will have an 11:00 a.m. shotgun start.  There will be prizes for men’s and women’s closest to the pin and longest drives. Hole-in-one prizes available too!  A raffle and silent auction will take place after golf, during the awards dinner. Registration for single players is $150 and $600 for foursomes.</p> <p>Registration includes golf with cart, range balls, a gift bag, boxed lunch and dinner in a beautiful fall setting.  Hope to see you there!</p>
				<div id='ldrdiv'><div id='ldrtext'><h3><a target='_new' href='http://events.constantcontact.com/register/event?llr=zv8xthmab&oeidk=a07e9h06tk1085aec17'>Register Here</a></h3></div></div>
				<div id='ldrital'><h1>Thank You To Our 2014 Tournament Sponsors</h1></div>
				<div id='ldrital'><h2>Pro Sponsors</h2></div>
					<table cellpadding="2"><tr><td><img src="../static/asd.png" width="200px"/></td>
					<td><img src="../static/marriot.png" width="200px"/></td></tr></table>
				
				

				<div id='ldrital'><h2>Eagle Sponsors</h2></div>
					<table cellpadding="2"><tr><td><h3>William Sarraille/Sidley Austin LLP</h3></td>
					<td><img src="../static/silverbullet.jpg" width="200px"/></td></tr></table>
					

				<div id='ldrital'><h2>Birdie Sponsors</h2></div>
				<table cellpadding="2"><tr><td><h3>Access Therapeutics</h3></td>
					<td><h3>The Burton Family</h3></td></tr>
					<tr><td><img src="../static/bdo.jpg" width="200px"/></td>
				<td><img src="../static/hastings.jpg" width="200px"/></td></tr>
				<tr><td><img src="../static/marylandinteriors.png" width="200px"/></td></tr></table>
				

				<div id='ldrital'><h2>Hole Sponsors</h2></div>
				<table cellpadding="2"><tr><td><img src="../static/absolute.png" width="200px"/></td></tr>
				<tr><td><h3>Mr. Patrick Collins</h3></td><td><h3>Fitzgerald's Lakeforest Toyota</h3></td></tr>
				<tr><td><h3>The Healey Family</h3></td><td><h3>The Lawhorn and Liberman Families</h3></td></tr>
				<tr><td><h3>Mr. Michael Liberman</h3></td><td><h3>The Monacci Family</h3></td></tr></table>
				

				<div id='ldrital'><h2>Lunch Sponsor</h2></div>
				<img src="../static/bww.jpg" width="200px"/>
				
				<div id='ldrital'><h2>More Generous Sponsors</h2></div>
				<table cellpadding="2"><tr><td><img src="../static/wholefoods.jpg" width="200px"/></td>
				<td><img src="../static/gcc.jpg" width="200px"/></td></tr></table>

				
			</div>
			</div>
		</td>
	</tr>
</table>

{% endblock %}