<link rel="stylesheet" type="text/css" href="../static/style.css">

<table>
	<tr><td align="center">
		<div id="main">
			<p><img src='../static/tef_thumb2.jpg'/></p>
			<h2></h2>
			<div id="content_text">
	<p>
	10 year old Hannah wanted to do something to raise money for the EVAN
	Foundation. Hannah knew Evan and wanted to do what she could to honor him
	and raise money to fight neuroblastoma. On her own, Hannah developed TWO
	ideas in order to achieve her goal.</p>
	<p>
	First, she really enjoys creating woven wrist bands. She decided that she would
	offer her custom made creations to raise money for the EVAN Foundation. She
	sold the colorful wristbands for $2.00 each and made $20.00.</p>
	<p>
	Her second idea involved her creative weaving skills once again. She made
	Christmas tree ornaments that were sold at a Christmas shop in her school. She
	approached the principal on her own and asked if she could sell the ornaments
	in the shop to raise money for the EVAN Foundation. The principal agreed and
	Hannah earned $50.00!</p>
	<p>
	We extend our warmest gratitude to Hannah for showing such mature initiative
	and doing her part to help the EVAN Foundation reach our goal!</p>

	</div>
		<img height="350" src="../static/hannah.jpg">&nbsp;&nbsp;<img height="350" src="../static/wristband.jpg">
	</div>
	</td></tr></table>