{% extends "base.html" %}
{% block content %}
<h2>How Can I Help?</h2>
<div id='content_text'>
	<p>
		The EVAN Foundation is dedicated to fighting for a cure for neuroblastoma, but we need your help.  Our mission of supporting promising research can only be accomplished through donations of your time, energy, or resources.  There are so many ways in which you can help, here are a few ideas:
	</p>
	<ul>
		<li>Become a <a href='/main/friend'>friend</a> of The EVAN Foundation
		<li>Make a <a href='/main/donate'>donation</a> today.</li>
		<li>Hold a fundraising event.</li>
		<li>Attend an EVAN Foundation event.</li>
		<li>Help spread the word about Evan, the Foundation, and our mission.</li>
	</ul>
	<table>
	<tr><td><a href="http://facebook.com/pages/The-EVAN-Foundation/202001616514179" target='_new'><img src="../static/facebook.png" border="0"/></a></td><td>Contact Us: <b>info@theevanfoundation.org</b></td></tr>
		</table>
	<img src="../static/tef_difference.jpg"/>
</div>
{% endblock %}