{% extends "base.html" %}
{% block content %}
<h2>How Can I Help?</h2>
<div id='content_text'>
	<p>
		The EVAN Foundation is dedicated to fighting for a cure for neuroblastoma, but we need your help.  Our mission of supporting promising research can only be accomplished through donations of your time, energy, or resources.  Read below how some remarkable people donated their time and energy to help raise funds and spread the word about The EVAN Foundation.
	</p>
	
	<table width="100%">
		<tr><td><a href='#' onclick="javascript:showKristen()">Read Kristen's speech</td><td><a href='#' onclick="javascript:showHannah()">See how Hannah helped</td></tr>
		<tr><td><img height="350" src="../static/kristen.jpg"></td><td><img height="350" src="../static/hannah.jpg"></td></tr>
		<tr><td><img height="150" src="../static/juliannakathryn.jpg"></td><td></td></tr>
		<tr><td><a href='#' onclick="javascript:showJulianna()">See how Julianna and Kathryn helped</td><td></td></tr>
	<tr><td><a href="http://facebook.com/pages/The-EVAN-Foundation/202001616514179" target='_new'><img src="../static/facebook.png" border="0"/></a></td><td>Contact Us: <b>info@theevanfoundation.org</b></td></tr>
		</table>

</div>
{% endblock %}