<link rel="stylesheet" type="text/css" href="../static/style.css">

<table>
	<tr><td align="center">
		<div id="main">
			<p><img src='../static/tef_thumb2.jpg'/></p>
			<h2></h2>
				<img height="350" src="../static/juliannakathryn.jpg">
			<div id="content_text">
			
				
			
	<p>
	At the age of 9, Julianna began a jewelry making business called One of a Kind.  She held her first shop in December 2010.  Kathryn joined in the fun, and to date they have held five shops.  In December 2011 they decided to raise money for causes important to them, and One of a Kind Cares was launched.  For their spring 2012 shop, they decided to raise money for the EVAN Foundation.  Julianna knew Evan and wanted to do something to help in the fight against neuroblastoma.  They set up an area of the shop to educate visitors about neuroblastoma and Evan.  Through donations and a portion of their sales, they raised $55.20.</p>
	</div>
	</div>
	</td></tr></table>