<link rel="stylesheet" type="text/css" href="../static/style.css">
<table>
	<tr><td>
<div id="main">
	<div id="content_text">
	<p>The following is a speech that our friend, Kristen Coffey, delivered in her speech class in college. With
	her permission, we share her words with you.</p></div>
	<h2></h2>
	<div id="popup_text">	<p>
	“Even though I only knew him for a few short years, Evan Lindberg is still my little buddy and always
	will be. I first met Evan at a family friend’s get together with his parents. Since I was usually the
	oldest kid at parties and no one else was close to my age, I usually played with the little ones. I
	played with Evan and his toy planes and kept him company while all the parents were talking. He
	was my little buddy, he looked forward to every party so we could play and run around in the back
	yard.</p>
	<p>
	From the first moment I met Evan, his
	parents informed me that he had been diagnosed with Stage IV neuroblastoma, a cruel and deadly
	pediatric cancer. Evan was diagnosed with neuroblastoma at the age of 3. But Evan fought his
	cancer for as long as he could, he never let neuroblastoma define who he was.</p>
	<p>
	And I never let his cancer define him either. After the first time we played, I entertained Evan at all
	the get-togethers and parties. My favorite memory of Evan was when I was asked to come keep him
	company at one of our friend’s daughter’s 13th birthday party. Everyone got all dressed up, even
	little Evan, and we danced the night away. I kept him company and danced the whole party; he never
	went looking for his parents the whole time. When the party ended and everyone was leaving, little
	Evan gave me a big hug. I honestly will never forget that moment.</p>
	<p>
	Although Evan passed away in the fall of 2010, he lived his seven years full of happiness, always
	looking at the bright side.</p>
	<p>
	I even remember a time when I watched him play hockey with my little sister and her friend. He put
	on a Spiderman mask and played goalie. He loved sports, and he especially loved the Nationals. He
	was full of imagination, always coming up with new games and things to do while we ran around the
	backyard. He loved to play on the swings and I remember watching every fireworks display with him
	and all our families each year on the 4th of July.</p>
	<p>
	As his parents wrote on The EVAN Foundation website, “in seven short years Evan Lindberg
	accomplished more than most of us do in a lifetime. He lived every day with joy in his heart,
	compassion in his soul, and love and laughter as his guiding stars. He showed us what was possible
	when you look at life through a positive lens. Never waste a moment, and never live in fear.”</p>
	<p>
	Now that is has been a little over a year since Evan’s death, his parents and friends still celebrate his
	life.</p>
	<p>
	He was the strongest little person I knew. Evan didn’t let anything get in his way and fought until the
	end. He has inspired me to keep on pushing even when times can seem rough. I hope no one has
	to go through what he had to go through, and I know his lively spirit is still with us today. He is an
	inspiration to all and because of him we are raising more awareness about neuroblastoma and trying
	to save more young patients from this terrible cancer.”</p>
	<p><img src='../static/tef_thumb2.jpg'/></p>
	</div>
	</div>
	</td></tr>
	</table>

	