{% extends "base.html" %}
{% block content %}
<h2>The EVAN Foundation</h2>
<h3>Our Mission</h3>
<table width='100%' border='0' cellpadding='0' cellspacing'0'>
	<tr>
	
		<td>	
			<div id='content_text'>The Evan’s Victory Against Neuroblastoma Foundation is dedicated to raising awareness of this
				devastating disease and supporting the most promising research in the field. Specifically, the
				foundation is committed to funding research aimed at helping neuroblastoma patients TODAY.
				We prioritize projects that facilitate new treatment options for patients who desperately need
				them. Cancer will not wait. Neither can we. Patients and families fighting today, and those
				who will be diagnosed tomorrow, need our help.</div>
			</td>
			<td valign='top'>
				<img class='special' src='../static/Evan_home2.jpg'></img>
			</td>
	</tr>
<table>
<img class='special' src='../static/Evan_mrstrong.jpg'></img>

{% endblock %}