{% extends "base.html" %}
{% block content %}
<h2>News and Events</h2>
<h3>EVANFest 2012</h3>
<div id='content_text'>
	The second annual EVANFest was held on September 29, 2012 in Gaithersburg, MD.  We are very grateful to all the 
	volunteers who helped to make the day a huge success!  A moon bounce, velcro wall, carnival games, face painting and glitter
	tattoos, great music and food were featured at this year's event! <br/>
 	<div id="ldrtext"><img height="200" src="../static/IMG_5886.JPG">&nbsp;<img height="200" src="../static/IMG_6222.JPG"></div>
	In addition, a check from Assurant Foundation was presented
	to the Foundation in the amount of $5,000!  Thank you to all who attended and supported the Foundation and we look forward to
	seeing everyone at EVANFest 2013 next September! <a href="http://davewheeler.smugmug.com/Events/EVANfest-2012/25843320_BMSFvz#!i=2140058885&k=FW2tz9J" target='_new'>Click here for pictures</a>
</div>

<h3>Ironman Competitor Pushes His Limits for The EVAN Foundation</h3>
<div id='content_text'>
	<p>On Saturday, August 11, 2012, Wendy and Gavin’s friend Marc Wolpers competed in the
	inaugural U.S. Championship Ironman in New York City. After a grueling effort in a 2.4 mile
	swim, 112 mile bike ride, including a fall that took him an hour to recover himself and his bike,
	and a 26.2 mile run, Marc finished with an amazing time!
	Marc pledged his own money based on his training and races, AND raised additional funds
	for The EVAN Foundation! Wendy and Gavin are so impressed with Marc’s perseverance and
	dedication.</p>
	<div id="ldrtext"><img height="200" src="../static/AshleyWolpersTEFshirt.jpg">&nbsp;<img height="200" src="../static/MarcWolpersTEFshirt.jpg">&nbsp;<img height="200" src="../static/JackWolpersTEFshirt.jpg"></div>

	<p>
	In addition to raising money for the Foundation, Marc, along with his kids Ashley and Jack,
	have started a Treats and Treasures Drive, gathering donated items for The EVAN Foundation’s
	Treats and Treasures cart. Wendy and Gavin are so grateful for all of Marc, Ashley and Jack’s
	hard work and generosity!</p><br/>
	</div>


{% endblock %}