{% extends "base.html" %}
{% block content %}
<h2>News and Events</h2>

<h3>Save the Date!</h3>
<div id='content_text'>
	EVANfest II is coming!  Mark your calendars to join us on Saturday, September 29, 2012 at Epworth United Methodist Church for EVANfest II!  Just like last year, we will have carnival games, a moonbounce, face painting, food, and haircuts and creations.  There will be other surprises as well.  So bring the family and an appetite for fun and join us for a great day!<br/>
<div id="ldrtext"><a href="/main/events"><img height="150" src="../static/EVANFest2012_thumb.jpg"></a></div>
</div>
<h3>MSSA Annapolis Chapter Tournament Benefits The EVAN Foundation</h3>
 <div id="content_text">
<div style="float:left;"><p>The Annapolis chapter of the Maryland Saltwater Sportfishing Association held the 1st Annual MSSA Spring Trophy Rockfish Tournament to benefit The EVAN Foundation from April 21 through May 15, 2012.  The Chesapeake Bay was the site of a competitive tournament consisting of 29 entrants striving to catch the longest rockfish.  William Harper caught a 49 inch prize winner which earned him a large trophy and gift certificates from the tournament sponsors.  The inaugural event raised over $3,500 for The EVAN Foundation!  The good people of the MSSA have pledged to make this an annual event to continue supporting the Foundation.</div><div style="float:right;padding-left:10;"><img height="300" src="../static/harper2012.jpg"></div></p>
<p>EVAN Foundation co-founders Wendy and Gavin Lindberg spoke at the June 20th tournament awards ceremony in Annapolis.  They told Evan's courageous story of battling neuroblastoma and thanked all the participants for their support.  Special appreciation was given to tournament sponsors AllTackle,  Marty's Sporting Goods and BFG Tackle.  Gavin said, "We are touched by the incredible show of support from everyone in the MSSA Annapolis Chapter.  Together we are making a difference in the lives of young children battling this terrible disease." </p>
Annapolis Chapter Tournament Chairman Dale Dirks remarked "We are proud to honor Evan's memory and look forward to growing the tournament in 2013."  The tournament (and its support for the Foundation) were covered by the Annapolis Capitol Gazette. For more information on the MSSA Annapolis chapter please visit <a href="http://www.mssaannapolis.com" target="_new">www.mssaannapolis.com</a></div>
<br/>
<h3>First Annual Springtime Reception</h3>

<div id='content_text'>
	On April 26, 2012, The EVAN Foundation held our First Annual Springtime
	Reception in Washington, DC. Friends of E.V.A.N. gathered to enjoy fresh
	hors d’oeuvres and cocktails. Distinguished guests included Jeffrey Dome, MD
	PhD, Chief of Oncology/Center for Cancer and Blood Disorders at Children’s
	National Medical Center, who shared his thoughts about the Treats and Treasures
	Cart that the E.V.A.N. Foundation is proud to sponsor and man on a weekly
	basis at the hospital. <a href='/main/springtime'>Read more...</a>
</div><br/>
<div id='ldrtext'><img height="400" src="../static/IMG_1303.JPG"></div>
{% endblock %}