{% extends "base.html" %}
{% block content %}
<table border='0' cellspacing='0' cellpadding='0'>
	<div><img src='../static/evan3.jpg'></div>
	<tr valign='top'>
		<td>
				<div id='ldrital'>
					<h2>Pizza with a Purpose!</h2>
				
				</div>
			<div id='ldrdiv'>
			<div id='content_text'>
				<ul>
				<li>When: Wednesday and Thursday, April 9 & 10, 2014</li>
				<li>Where: California Pizza Kitchen, 136 Boardwalk Place (in the Rio) Gaithersburg, MD 20878</li>
				<li>Time: All Day</li>
				</ul>
			</div>
			</div>
			<div id='ldrtitle2'>
				Bring in the flyer below and present it to your server and California Pizza Kitchen will donate 20% of your check
				to The EVAN Foundation. 
				<div style="font-size:larger; padding-top:20px"><a target='_new' href='../static/CPK2014.pdf'>California Pizza Kitchen Flyer</a></div>
				
				
		</td>
	</tr>
</table>
{% endblock %}