{% extends "base.html" %}
{% block content %}
<h2>News and Events</h2>

<div id='rooftopDiv'>
	<img class='special4' src='../static/TEF_Rooftop.jpg'>
</div>
<br/>
<h3>Save the Date!</h3>
<div id='content_text'>
	EVANfest II is coming!  Mark your calendars to join us on Saturday, September 29, 2012 at Epworth United Methodist Church for EVANfest II!  Just like last year, we will have carnival games, a moonbounce, face painting, food, and haircuts and creations.  There will be other surprises as well.  So bring the family and an appetite for fun and join us for a great day!
</div>
{% endblock %}