{% extends "base.html" %}
{% block content %}
<h2>First Annual Springtime Reception</h2>
<div id='content_text'>
	<p>
	On April 26, 2012, The EVAN Foundation held our First Annual Springtime
	Reception in Washington, DC. Friends of E.V.A.N. gathered to enjoy fresh
	hors d’oeuvres and cocktails. Distinguished guests included Jeffrey Dome, MD
	PhD, Chief of Oncology/Center for Cancer and Blood Disorders at Children’s
	National Medical Center, who shared his thoughts about the Treats and Treasures
	Cart that the E.V.A.N. Foundation is proud to sponsor and man on a weekly
	basis at the hospital. Other honored guests included Martha McCollum, Director
	of Development for Cancer and Blood Disorders and the Children’s Hospital
	Foundation, and Rose Szeles, Head Nurse of Hematology and Oncology at
	Children’s National Medical Center and approximately 70 friends and supporters
	to whom we are so grateful.</p>
    <div id='ldrtext'><img height="150" src="../static/IMG_1280.JPG">&nbsp;&nbsp;&nbsp;<img height="150" src="../static/IMG_1186.JPG"></div>
<p>
	The culmination of the evening was the presentation of a check for $10,000
	payable to the NMTRC or the Neuroblastoma and Medulloblastoma Translational
	Research Consortium for a clinical trial for high risk neuroblastoma patients
	set to begin in August 2012. The NMTRC is a group of 18 universities and
	children's hospitals headquartered at Van Andel Research Institute that offer a
	nationwide network of childhood cancer clinical trials. These trials are based on
	the research from a group of closely collaborating investigators who are linked
	with laboratory programs developing novel therapies for high-risk neuroblastoma
	and medulloblastoma.</p>
	<div id='ldrtext'><img height="150" src="../static/IMG_1286.JPG">&nbsp;&nbsp;&nbsp;<img height="150" src="../static/IMG_1183.JPG"></div>
<p>
	Their mission is to create a national collaborative effort of researchers
	and oncologists to bring forward new therapies for children with relapsed
	neuroblastoma and medulloblastoma with the goal of finding a cure for these
	patients. Ellen Ellis accepted the check on behalf of Dr. Giselle Scholler.</p>
</div>
<div id='ldrtext'><img src='../static/tef_thumb2.jpg'/></div>
{% endblock %}