<link rel="stylesheet" type="text/css" href="../static/style.css">

<table>
	<tr><td align="center">
		<div id="main">
			<p><img src='../static/tef_thumb2.jpg'/></p>
			<h2></h2>
				<img height="350" src="../static/townsend.jpg">
			<div id="content_text">
			
				
			
	<p>
		Townsend Janney, a high school volunteer at Children's National Medical Center, heard about the Treats and Treasures carts and wanted to help.  So, she  decided to have a bake sale and a toy drive at her school, H-B Woodlawn Secondary Program in Arlington, VA.  She enlisted the help of her friends, Erin Morrissey and Allegra Wham.  Together, they had a very successful event!  We are so thankful!  Townsend is standing next to the Treasures Cart filled with the results of her efforts.  Not only did she donate a great number of toys, she also presented a check to The Foundation for over $180.00!  Townsend will be joining us at EVANfest 2014 where we will have the opportunity to thank her on stage.
	</p>
	</div>
	</div>
	</td></tr></table>