{% extends "base.html" %}
{% block content %}
<h2>2012 Year in Review</h2>

<div id='content_text'>
<p>
We want to thank you for your support of Evan’s Victory Against Neuroblastoma Foundation.  We are extremely proud of what we have accomplished together in our first full year as an organization.</p>



<p><h3>Here are some highlights:</h3></p>

<p>Three Neuroblastoma Research Awards Totaling $50,000:</p>

<ul>

	<li>$10,000 to the Neuroblastoma and Medulloblastoma Translational Research Consortium. The NMTRC is comprised of 18 universities and children’s hospitals across the country treating children with late-stage neuroblastoma. The EVAN Foundation funds helped launch a Phase II clinical trial looking at the potential for Difluoromethylornithine or “DFMO” to prevent a reoccurrence of neuroblastoma that is in remission.   This is the only neuroblastoma clinical trial that allows children in first remission - but at high-risk for relapse - to enroll.</li>



	<li>$20,000 to Dr. Yael Mossé, Director of the Neuroblastoma Therapeutics Program at Children’s Hospital of Philadelphia, for her “Molecular Oncology for Pediatric Cancers:  Neuroblastoma as a Model” project.  Dr. Mossé is a leading neuroblastoma clinician and investigator.  She is using our funds to speed the translation of molecular discoveries made in her lab into new treatments for patients.  The focus of her project is four investigational agents that target different growth pathways found in neuroblastoma tumors.</li>



	<li>$20,000 for an international research collaboration aimed at standardizing the analysis and reporting of tumor cells in the bone marrow of patients with high-risk neuroblastoma.  Bone marrow involvement is a critical factor in determining what treatment a child should receive. The analysis of bone marrow tests however, varies across institutions and countries.   The funds that the Foundation recently committed will support the work of three researchers; one in the U.S., one in the UK, and one in the Netherlands.  They will review bone marrow samples from all three countries and assess best practices for determining the presence of tumor cells and levels of biomarkers that predict poor outcomes.  This will aid in the standardization of bone marrow reporting, inform the development of superior methods of marrow disease monitoring, and help children get placed into the proper treatment protocol.</li>
	
	</ul>





<p><h3>EVAN Foundation Treats and Treasurers Cart at Children’s National Medical Center</h3></p>



	<p>Every Wednesday night, we visit all inpatient rooms on the oncology floor of CNMC in Washington, D.C. with two large carts full of toys, games, stuffed animals, books, candy, chocolate, cookies, etc.  Patients, siblings and parents all select items at no charge.  Since the launch of this program in April, we have made approximately 1,000 visits to families enduring long and difficult hospital stays.  According to staff on the oncology floor, Wednesday has become the day that patients look forward to the most during the week.</p>







<p><h3>Neuroblastoma Awareness and Foundation Events:</h3></p>

<ul>

	<li>Evan’s story and the EVAN Foundation were profiled in the American Association for Cancer Research’s <a href='../static/AACRProfile.pdf' target='_new'>2012 Report to the Nation on Cancer</a>, released in September.  AACR is the world’s oldest and largest cancer research organization.</li>



	<li>The Foundation was also profiled in the spring edition of ASD Healthcare’s InsightOut magazine read by over 21,000 healthcare professionals</li>


	<li>Evan Foundation Spring Reception in April in Washington, D.C.</li>

	<li>“Angling for Evan” Spring Fishing Tournament sponsored by the Maryland Saltwater Sport Fisherman’s Association.</li>    

	<li>“Eat for EVAN” event at Gaithersburg, MD California Pizza Kitchen in June</li>

	<li>EVANFest Family Fun Day in Gaithersburg, MD in September.</li>
	
	</ul>



<p>Finally, in September Wendy received a <a href='../static/ObamaLetter.pdf' target='_new'>handwritten note</a> from President Obama responding to a letter she had sent him about Evan and the need to expand federal support for pediatric cancer research.  



	In his note, the President observed that “Evan seemed like a remarkable boy.”  Indeed he was.   Evan taught us many things in the seven years we were blessed to have him.  One of his most profound lessons was NEVER GIVE UP. 
	<p>So like Evan, we will fight for a cure for this terrible disease every day until we all can claim victory over neuroblastoma.</p>
	<table border='0' cellspacing='0' cellpadding='0'>
	<tr><td>With Hope,</td><td></td></tr>
	<tr><td valign='top'>Wendy and Gavin Lindberg</td><td valign='top'><img src='../static/tef_thumb2.jpg'/></td></tr>
	</table>

	
	
</div>
{% endblock %}