{% extends "base.html" %}
{% block content %}
<h2>2013 Year in Review</h2>

<div id='reviewletter'>
	<p>Dear Friends: </p>

	<p>Happy Holidays from Evan's Victory Against Neuroblastoma Foundation!</p>

<p>	We want to thank all of you for your support and friendship throughout the year.  We are extremely proud of what we have accomplished together in 2013.  Here are some highlights of our collective fight against neuroblastoma:</p>


		<div id='ldrtitle'>Four Neuroblastoma Research Awards Totaling $120,000</div>
	<p>Baylor College of Medicine - Children with relapsed neuroblastoma have very few curative options.  Once the cancer has returned, it becomes resistant to traditional treatment options such as chemotherapy and radiation. Scientists are actively looking for new treatment strategies. A new phase I trial at Baylor College of Medicine and Texas Children's Cancer Center using an immunotherapy approach with modified T cells will offer these vulnerable young patients a promising new treatment option.</p>
	<p>Children's Oncology Group - COG is the world's largest organization devoted exclusively to treating children and adolescents with cancer.  90 percent of children diagnosed with cancer in the US are treated at one of 200 COG member hospitals.  COG is launching a 5-year research initiative entitled "Project: EveryChild" which will capture the biology, treatment history and outcome of every pediatric cancer patient in the U.S., including those with neuroblastoma.  Tumor tissue, and when possible parental DNA, will be collected and stored in a state-of-the-art biobank at Nationwide Children's Hospital in Columbus, OH.  These biospecimens, along with treatment and outcome information, will be available to thousands of researchers working to develop new therapies for neuroblastoma and other deadly childhood cancers.</p>
	<p>Texas Tech University Health Sciences Center - Funds from the EVAN Foundation were used to support the formulation of the anti-neuroblastoma drug Fenretinide into an oral powder that is easier for children to take and better absorbed by the body.   The oral powder form of Fenretinide has been shown to increase active levels of the drug in the body by 4 to 6 times compared to the capsule form.  The drug will be combined with two other agents (vincristine and ketoconazole) in a Phase I clinical trial treating relapsed neuroblastoma patients in the West Texas South Plains Oncology Consortium.</p>
	</p>Seattle Children's Hospital - Neuroblastoma researchers at Seattle Children's are coordinating an international effort aimed at improving the analysis of tumor cells in the bone marrow of patients with high-risk neuroblastoma. This will help children get placed into the proper treatment protocol and aid in the development of better methods of monitoring disease in the bone marrow.</p>

	<div id='ldrtitle'>EVAN Foundation Treats & Treasurers Carts at CNMC</div

	<p>The tradition continues!  Every Wednesday night, we visit each room on the oncology floor of Children's National Medical Center in Washington, DC with the EVAN Foundation Treats and Treasurers Carts. These two large three-story carts are filled with toys, games, candy, chocolate, stuffed animals, books, puzzles, etc.  Patients, parents and siblings all choose as much as they like from both carts at no cost. Since the launch of the Treats and Treasurers Carts in the spring of 2012, we have made over 2,500 visits to patients and families enduring long and difficult stays in the hospital.  Wednesday is the favorite day of the week on the oncology floor thanks to your support of the EVAN Foundation!</p>


	<div id='ldrtitle'>Neuroblastoma Awareness and Advocacy</div>
	<p>As co-founders of the EVAN Foundation, we authored a letter to the editor in the February 19th edition of the Washington Post expressing concern over the impact that federal budget cuts would have on pediatric cancer research and patient care supported by the National Cancer Institute.</p>
	<p>In March, The Children's Hospital of Philadelphia profiled Evan's story and the EVAN Foundation in a feature on its website.</p>
	<p>Gavin had the honor of moderating the 4th Annual Congressional Childhood Cancer Caucus Summit held September 19th on Capitol Hill. The meeting brought together members of Congress, researchers, clinicians, patients and families seeking greater awareness and better treatments for pediatric cancer.  The EVAN Foundation also co-hosted a congressional reception on the evening before the summit.</p>
	<p>The EVAN Foundation became a founding member of the Coalition Against Childhood Cancer. CAC is a new collaborative organization of pediatric cancer groups working together to serve the community. Wendy is a member of the Communications Committee.</p>
	Gavin was featured on the "This Week in Pediatric Oncology" interview series on October 31st. To listen to a podcast TWIPO #33, click here.    
	The Foundation was profiled in the December edition of ASD Healthcare's InsideOut magazine read by over 15,000 healthcare professionals. 


	<div id='ldrtitle'>EVAN Foundation Events!</div>
	<p>Second Annual "Angling for Evan" Spring Rock Fish Tournament on the Chesapeake Bay, April 30th to May 5th.   This great event sponsored by the Annapolis Chapter of the Maryland Saltwater Sport Fisherman's Association doubled the fundraising success of last year's tournament!</p>
	<p>"EVANFest" Family Fun Day on the grounds of Epworth Methodist Church in Gaithersburg, MD on September. 28th. Our signature event, now in its third year, enjoyed record fundraising success!</p>
	<p>First Annual EVAN Foundation Golf Tournament, October 24th at Whiskey Creek Golf Club in Ijamsville, MD.  Wow!  125 golfers braved the chilly weather to make our first golf tournament, dinner and auction a tremendous success!</p>

	<p>On behalf of the EVAN Foundation Board of Directors, we thank you for a wonderful 2013.  The growth and success of the Foundation is the direct result of your interest, volunteerism and support.  We are incredibly grateful.</p>


	<p>Remember, YOU + EVAN = CURE.</p>

	<p>We wish you health and happiness in the New Year.</p>

	<p>With Hope,</p>

	<p>Wendy and Gavin Lindberg</p>
	<p>Co-Founders</p>
	<p>The EVAN Foundation</p></div>
{% endblock %}