{% extends "base.html" %}
{% block content %}
<table border='0' cellspacing='0' cellpadding='0'>
	<tr valign='top'>
		<td>
			<div><img src='../static/evan3.jpg'></div>
		</td>
	</tr>
</table>
<div id='ldrtitle'>ANNOUNCING THE "EVAN LINDBERG NEUROBLASTOMA RESEARCH SCHOLARS PROGRAM" 
AT THE CHILDREN'S HOSPITAL OF PHILADELPHIA</div>

<div id='reviewletter'>
	<p><i>March 5, 2015 -</i> The EVAN Foundation is very proud to announce the establishment of the "Evan Lindberg Neuroblastoma Scholars Program" at The Children's Hospital of Philadelphia. The Foundation has entered into a multi-year partnership with CHOP to support exceptional early-career MD's and Ph.D's in the institution's world-renown neuroblastoma laboratory.  The scholars program is designed to generate interest in neuroblastoma among talented young scientists, and support CHOP's state-of-the-art neuroblastoma research led by Drs. John Maris and Yael Mosse.</p>

<p>Wendy and Gavin Lindberg said, "We are incredibly excited to launch this innovative program in Evan's memory.   The Children's Hospital of Philadelphia played a critical role in our son's treatment.  We found hope there.  Now it is our hope that this program will foster the next generation of neuroblastoma investigators who will help find better treatments and a cure for this devastating disease."</p>

<p>Dr. Yael Mosse, internationally recognized pediatric oncologist and physician-scientist specializing in neuroblastoma, said, "I had the great privilege of treating Evan and will always draw inspiration from his remarkable courage and beautiful spirit.  I learned a lot from him both as a person and as a patient. It is an honor to lead the Evan Lindberg Neuroblastoma Research Scholars Program - it will play an important role in our search for a cure."</p>

<p>The first Evan Lindberg Neuroblastoma Research Scholar will be named in mid-2015.  The Children's Hospital of Philadelphia, established in 1855, is the nation's oldest pediatric hospital.  The Cancer Center at CHOP has one of the largest pediatric cancer programs in the United States, which has been top ranked by U.S. News & World Report and Parents Magazine. The EVAN Foundation thanks all of its supporters for making this exciting program possible!</p>

</div>

{% endblock %}